{
    "LighthouseServer": "{{ item.lighthouse_server }}",
    "AcceptedJobs": [
        "os-image-build",
        "package-build"
    ],
    "DputHost": "{{ item.dput_profile }}",
    "GpgKeyID": "{{ item.gpg_fingerprint }}"
}
