LighthouseServer = '{{ lighthouse_server }}'
AcceptedJobs = [
{% for job_type in accepted_job_types %}
    '{{ job_type }}',
{% endfor %}
]
MachineOwner = '{{ machine_owner }}'
GpgKeyID = '{{ gpg_fingerprint }}'
